body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.admin-title {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar nav ul li {
    margin: 20px 0;
    text-align: center;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0;
}

.main-content {
    flex: 1;
    position: relative;
}

#map {
    width: 100%;
    height: calc(100vh - 20px); 
    margin-top: 20px;
}

.fleet-info-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    z-index: 1000;
    max-height: calc(100vh - 40px); 
    overflow-y: auto;
}

.hidden {
    display: none;
}

.bus-info {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.bus-info:hover {
    background-color: #f0f0f0;
}

.bus-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
