:root {
    --cor-fundo: white;
    --cor-texto: black;
    --cor-destaque: #FF9A00;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
}

.texto h1,
.menu a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo,
.texto,
.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: flex-start;
}

.menu {
    justify-content: flex-end;
}

.texto,
.menu {
    color: white;
}

header nav a {
    color: var(--cor-texto);
    background-color: var(--cor-destaque);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}
.orientação {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* ou a largura que você preferir */
    background-color: black; /* para a caixa preta */
    color: white; /* para o texto dentro da caixa preta */
    padding: 20px;
    border-radius: 5px; /* cantos arredondados, opcional */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* sombra ao redor da caixa, opcional */
    margin: 0 auto; /* adicionado para centralizar horizontalmente */
    margin-top: 50px;
}

#meuFormulario {
    background-color: black; /* para a caixa preta */
    color: white; /* para o texto dentro da caixa preta */
    padding: 20px;
    border-radius: 5px; /* cantos arredondados, opcional */
    width: 100%; /* ajustado para preencher a div pai */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* sombra ao redor da caixa, opcional */
    text-align: center;
}
