:root {
    --cor-fundo: white;
    --cor-texto: black;
    --cor-destaque: #FF9A00;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
}

.texto h1,
.menu a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo,
.texto,
.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: flex-start;
}

.menu {
    justify-content: flex-end;
}

.texto,
.menu {
    color: white;
}

header nav a {
    color: var(--cor-texto);
    background-color: var(--cor-destaque);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}

aside {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #73B5AA;
    overflow: auto;
    padding: 10px;
}

aside,
.h1 {
    text-align: center;
}

.container {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
    background-color: var(--cor-fundo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo,
.detalhes,
.arquivos {
    margin-bottom: 20px;
}

.titulo p,
.detalhes p,
.arquivos p {
    font-size: 18px;
    color: var(--cor-texto);
}