<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/visualizar_(joao).css">
    <title>Sistema de Gestão de Departamentos</title>
</head>
<body>
    <header>
        <h1>Motorista</h1>
    </header>
    <nav>
            <a href="index_(joao).html">Home</a>
            <a href="criar_(joao).html">Cadastrar</a>
    </nav>
    <main>
        <section id="detalhes-departamento">
            <header>
                <h2 id="nome-dpto">Departamento</h2>
            </header>
            <p id="descricao-dpto">

            </p>
        </section>
    </main>
    <footer>
        <a href="index_(joao).html">Voltar</a>
    <script src="../assets/js/visualizar_(joao).js"></script>
</body>
</html>